/* colours */
:root{
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #FF8816;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

/* recipe styles */
.recipes{
  margin-top: 100px;
}
.card-panel.recipe{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.recipe img{
  grid-area: image;
  max-width: 60px;
}
.recipe-details{
  grid-area: details;
  margin-top: 6px;
  
}
.recipe-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.recipe-delete i{
  font-size: 18px;
}
.recipe-title{
  font-weight: bold;
  font-size: 24px;
  color: #D28031;
}
.recipe-ingredients{
  font-size: 18px;
  color: #D28031;
}

/* form-styles */
.add-btn{
  background: var(--title) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}

.btn-round {
  background-color: #d23f31;
  border-radius: 999em;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 36px;
  position: relative;
  cursor: pointer;
}

.btn-round span {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -22px;
  color: #FFF;
}

.green { background-color: #57A429; }
.blue { background-color: #38818F;}
.orange { background-color: #D28031; }

p { margin-top: 50px; }

.ts1{
  text-align:center;
}

.inputconfigs {
  width: 80% !important;
  border:1px solid #ff0000 !important;
  float: right;
}

.lablelconfigs{
  color: #D28031;
  font-weight: var(--primary);
}
.buttonconfigs{
  color: #D28031;
  font-weight: bold;
}


@keyframes blink {
  0% {
      opacity: 1;
  }
   50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.blinkcss {
  animation: blink 1s;
  animation-iteration-count: infinite;
}

.material-icons.md-48 { font-size: 126px; }